@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0d0d0d;
  color: #fff;
}

.active {
  color: rgb(163 230 53);
}

::-webkit-scrollbar {
  width: 0.4em;
  height: 0.6em;
}

::-webkit-scrollbar-track {
  background-color: #2e2d2d;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(163 230 53);
  height: 0.6em;
}

.group i:hover ~ .group span {
  display: absolute;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#menu {
  animation: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) alternate dropdrow;
  bottom: 0;
  z-index: -10;
  overflow: hidden;
}

#menu ul {
  animation: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) alternate dropdrow_items;
}

@keyframes dropdrow {
  0% {
    height: 0;
    opacity: 0;
    border-radius: 50em;
  }

  100% {
    height: 100vh;
    opacity: 1;
  }
}

@keyframes dropdrow_items {
  0% {
    opacity: 0;
    background-color: rgb(163 230 53);
  }

  100% {
    opacity: 1;
  }
}
