.wikires table{
    display: none;
}

.wikires ul{
    display: none;
}

.navbox{
    display: none;
}

.wikires ~ .noprint {
  
}


.wikires {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 2em;
}

.wikires div{
    padding: 8px;
}

.wikires h2{
    color: rgb(163 230 53);
    font-weight: bold;
    padding: 1em;
}

.wikires h2:first-child{
    font-size: 1.4em;
}

.wikires h3{
    display: none;
}

.wikires img{
    margin: 1em auto;

}